
.container{
  
    margin: 0 auto;
}
 .al .row{
    display: flex;
    width: 100% !important;
    padding: 10px 0px;

}

.al .row .column{
    margin: 0px 20px;
    
}

fieldset{
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 50%;
    width: 50%;
}

input[type = "radio"]{
    width: 10% !important;
}
 .radio{

 
    margin: 7px 10px 10px;
    padding: 5px;
}
.al .row  fieldset .textt{
    width:350px;
    height: 90px;
    font-size: 20px;
    border: 3px solid #001;
}
.al .row .add{
   
    margin: 7px 0 10px;
    padding: 5px;
}

.al .row .add select{
    width: 390px;
    border: 2px solid #f00;    
    padding: 15px;
    margin: 5px 0;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.al .row .add select option{
    font-size: 20px;
    font-weight: bold;
}


.al input:hover{
    transition:  0.3s ease-in-out;
    border: 3px solid rgb(68,68,68);

}

.al button:hover{
    background-color: rgba(66, 2, 58, 0.8);
}

.al input:focus{
    outline: 0;
    border: 1px solid red;
}

@media screen  and (max-width:580px)  {
    .row{
        flex-direction: column;
    }
 .row .column{
     width: 80% ! important;
 } 
 .al .row form  #phone{

    padding-right: 0px;
}  
}