@import url('https://fonts.googleapis.com/css2?family=Open+sana:ital,wght@0,600;1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.cont{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
#contact{

padding: 10px;
margin: 20px 0;

}
#contact h1{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: rgb(90, 3, 10);
}
#contact h3{
    margin: 5px 0px 15px;
    text-align: center;
}


 .column{
    margin: 0px 20px;
    
}
fieldset{
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    width: 100%;
}
#contact input{
    
    width: 400px;
    border: 3px solid  rgb(32, 32, 122);
    padding: 15px;
    margin: 5px 0;
   color:#000; 
    
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

input[type = "radio"]{
    width: 5% !important;
 
}
#contact  .radio{
    border: 3px solid  rgb(32, 32, 122);
    margin: 4px 5px 1px;
    padding: 9px;
    width: 400px;
}
#contact   fieldset .textt{
    width:350px;
    height: 90px;
    font-size: 20px;
    border: 3px solid #001;
}
#contact  .add{
    margin: 7px 0 10px;
    padding: 5px;
}

#contact  .add select{
    padding: 15px;
    margin: 5px 0;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 400px;
    border: 3px solid  rgb(32, 32, 122);

}
#contact  .add select option{
    font-size: 20px;
    font-weight: bold;
}
#contact .ro #phone{
    max-width: 100% !important;
    padding-right: 80px;

}
#contact input:hover{
    transition: border-color 0.3s ease-in-out;
    border: 5px solid  rgb(88, 0, 0);

}
#contact button{
    outline: none;
  text-align: center;
    background-color:rgb(13, 15, 0);
    color: rgb(255, 0, 0);
    margin: 0 0 5px  30%;
    padding-inline-end: 10px;
    width: 300px;
    height: 40px;
}

#contact button:hover{
    background-color: #88f;
}

#contact input:focus{
    outline: 0;
    border: 1px solid red;
}

@media screen  and (max-width:580px)  {
    .row{
        flex-direction: column;
    }
 .row .column{
     width: 90% ! important;
 } 
 #contact .row #phone{

    padding-right: 0px;
}  
}