body{
    margin: 0;
    padding: 0;
    background-image: url("../img/33.jpg");
    background-size: cover;
    font-family: sans-serif;
    padding: 70px 30px;
}
.loginbox{
    margin-top:90px;
    padding: 20px;
    width: 420px;
    height: 520px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    font-size: 20px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 200px 0px 200px 0px ;
}
.avater{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 150px;
    padding: 5px;
    text-align: center;
}
.loginbox h1{
    margin:0;
    padding: 70px  0 20px;
    text-align: center;
    font-size: 35px;

}

.loginbox h1:hover{
    cursor:optional;
    color: #f10202;;
    font-size: 40px;
    font-weight: bold;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;

}
.loginbox input[type="username"],input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="username"]:hover{
    cursor:optional;
    background: #02f1f1;
    color: 000;
    font-size: 20px;
    font-weight: bold;
}
.loginbox input[type="password"]:hover{
    cursor:optional;
    background: #02f1f1;
    color: 000;
    font-size: 20px;
    font-weight: bold;
}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
    cursor:optional;
    background: #ffc107;
    color: #000;

}
.loginbox .forer{

    border: none;
    outline: none;
    height: 40px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 20px;
}
.loginbox .forer:hover{
    cursor:optional;
    background: #ffc107;
    color: 000;
 
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;

}

.loginbox a:hover{
    color: #ffc107;
}
